:root {
  --accent-color: #2196f3;
  --hero-btn-color: #2196f3;
  --hero-title-color: #ffffff;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --tipical-margin: 30px;
}

/* основной цвет шрифта черный #212121 */
/* вспомогательный текст черный #757575 */
/* цвет шрифта героя белый #FFFFFF */
/* цвет шрифта акцента голубой #2196F3 */
/* цвет фона светло-серый #E5E5E5 */
/* цвет фона героя и футера черный #2F303A */
/* цвета логотипа голубой #2196F3 и черный #000000 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  width: 200px;
  height: 50px;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: tomato;
  outline: 3px solid blue;
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

/* ------------WebStudio------------ */

.logo {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 145px;
  height: 31px;
  padding-left: 215px;
  padding-top: 24px;
}

.logo-text {
  color: var(--main-title-color);
}

.logo-footer {
  color: var(--hero-title-color);
}

/* ------------navigation------------ */

.navigation {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding: 32px 0px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

/* ------------hero------------ */
.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  margin-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  position: absolute;
  width: 696px;
  height: 120px;
  padding-top: 200px;
  margin: 0 auto;
  margin-bottom: var(--tipical-margin);
}

.section-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--hero-btn-color);
  display: block;
  margin: 0 auto;
}

.section-btn:hover,
.section-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ------------about------------ */

.about {
  background: #ffffff;
  margin-bottom: 94px;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  min-width: 270px;
  height: 16px;
  margin-bottom: 10px;
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  min-width: 270px;
  height: 75px;
  margin-bottom: var(--tipical-margin);
}

/* ------------gallery------------ */

.gallery {
  margin-bottom: 94px;
}

/* ------------team------------ */
.team {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
  margin-bottom: 94px;
}

.team-item-card {
  padding-top: var(--tipical-margin);
  padding-bottom: var(--tipical-margin);
}

.team-item-title {
  font-weight: 500;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* ------------portfolio------------ */

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-title-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--hero-btn-color);
  color: var(--hero-title-color);
}

.benefits-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.current {
  color: var(--accent-color);
}

/* ------------footer------------ */

.footer {
  background-color: #2f303a;
}

.footer-contacts-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-title-color);
}

.footer-contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
